# -- Chainlink config ------------------------------------------
VRF_SUB_ID=

# -- Deployment ------------------------------------------------
PRIVATE_KEY=
RPC_URL=

# -- DAO -------------------------------------------------------
TOKEN_ADDR=
VESTING_ADDR=
TIMELOCK_ADDR=
GOVERNOR_ADDR=
TREASURY_ADDR=
BOX_ADDR=

# -- AMM -------------------------------------------------------
TOKEN_A_ADDR=
TOKEN_B_ADDR=
AMM_ADDR=

# -- ERC-1155 --------------------------------------------------
NFT_ADDR=

# -- Factory / UUPS --------------------------------------------
FACTORY_ADDR=
IMPL_V1_ADDR=
IMPL_V2_ADDR=
PROXY_ADDR=

# -- Vault -----------------------------------------------------
VAULT_ADDR=

# -- Chainlink -------------------------------------------------
PRICE_FEED_ADDR=
VRF_ADDR=
